.contact {
  background-color: #f4f5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .contact {
    padding: 160px 0;
  }
}
.contact__text {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact__button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.contact__buttons {
  display: flex;
  flex-direction: row;
}
