.header-menu {
  color: #707c84;
  font-weight: 600;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .header-menu {
    top: 40px;
    right: 50px;
  }
}

.header-menu a:hover {
  color: black;
}

.header-menu .menu {
  justify-content: center;
  background-color: #424242;
  padding: 20px;
}

@media (min-width: 768px) {
  .header-menu .menu {
    justify-content: end;
    background: none;
  }
}
