.portfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f6;
  padding: 100px 50px 50px;
  position: relative;
}

.portfolio__text {
  margin-top: 30px;
}
.portfolio__links {
  position: absolute;
  padding: 0 40px;
  bottom: 40px;
  width: 100%;
}
.portfolio__link {
  color: var(--brand);
  font-weight: 600;
  display: inline-block;
  margin-top: 30px;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

.portfolio__link:hover {
  border-color: var(--brand);
}

.portfolio__connect__links {
  width: 100%;
}
.portfolio__connect__link {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  display: block;
}
.portfolio__connect__link:hover {
  border-color: var(--brand);
}

.portfolio__connect__link svg {
  color: var(--brand);
}
