.projects {
  padding: 60px 0;
  background-color: #f4f5f6;
  text-align: center;
}

.projects__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}
@media (min-width: 768px) {
  .projects__boxes {
    flex-direction: row;
    gap: 150px;
  }
}

.project__image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
  transition: transform 1s ease;
  transform-origin: center;
}
@media (min-width: 768px) {
  .project__image {
    width: 400px;
  }
}
