.projects {
  padding: 60px 0;
  background-color: #f4f5f6;
  text-align: center;
}

.projects__boxes {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  margin-bottom: 50px;
  gap: 30px;
}

@media (min-width: 1200px) {
  .projects__boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-direction: row;
    gap: 60px;
  }
}

.project__image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  transition: transform 0.5s ease;
  transform-origin: center;
}

@media (min-width: 768px) {
  .project__image {
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .project__image {
    width: 100%;
  }
}
.project__image__wrapper {
  position: relative;
  margin-bottom: 24px;
}
.project__image__overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }
}
.project__button {
  background-color: var(--brand);
  color: white;
  padding: 16px 16px;
  font-weight: 600;

  &:hover {
    background-color: var(--hover);
  }
}
.project__text {
  text-align: center;

  @media (min-width: 1200px) {
    text-align: left;
  }
}
.project__title {
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: #333;
  transition: color 0.3s ease;
}

.project__title:hover {
  color: var(--brand);
}

.project__desc {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin: 0 0 16px 0;
}

.project__link {
  color: var(--brand);
  text-decoration: underline;
}

.project__tech {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
