.technologies {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .technologies {
    height: 50vh;
  }
}

.technologies__icons {
  color: #424242;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}
