.title {
  font-size: 30px;
  letter-spacing: 2;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 20;
}
@media (min-width: 768px) {
  .title {
    font-size: 58px;
  }
}
