.contact {
  background-color: #f4f5f6;
  padding: 160px 0;
  text-align: center;
}

.contact__text {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact__button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;

  display: inline-block;
}
.contact__buttons {
  display: flex;
  flex-direction: row;
}
