.header-menu {
  color: #707c84;
  font-weight: 600;
  position: absolute;
  top: 40px;
  width: 100%;
  right: 50px;
  z-index: 1;
}

.header-menu a:hover {
  color: black;
}

.header-menu .menu {
  justify-content: end;
}
