.portfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__title {
  font-size: 65px;
  line-height: 1;
  letter-spacing: 4;
  font-weight: 800;
  margin-bottom: 40px;
}
.portfolio__projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  flex: 1;
}
.portfolio__project--one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
  overflow: hidden;
  background-color: #aad9d8;
  color: black;
  font-size: 24px;
  padding: 25px;
  letter-spacing: 1;
  line-height: 1.6;
  font-weight: 400;
}

.portfolio__project--two {
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 20px;
  overflow: hidden;
}
.portfolio__project--three {
  background-color: #ffa094;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio__project--icons {
  font-size: 64px;
  color: white;
}
.portfolio__project--four {
  border-radius: 10px;
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  overflow: hidden;
}
.portfolio__project--four__left {
  background-color: #8e70be;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__project--four__right {
  background-color: #585858;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__project--two__top {
  background-color: #aad9d8;
  height: 50%;
  font-weight: 600;
  font-size: 24px;
  background-image: url(../../../../public/js.png);
  background-size: contain;
}
.portfolio__project--two__top__details {
  font-size: 16px;
  font-weight: 400;
}
.portfolio__project--two__bottom {
  height: 50%;
  background-color: #5cb85c;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
