.portfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__title {
  font-size: 65px;
  line-height: 1;
  letter-spacing: 4;
  font-weight: 800;
  margin: 10px 0 20px;
  color: #333;
}
