.profile {
  background-color: #8184d3;
  color: white;
  height: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.profile__title {
  position: absolute;
  color: black;
  font-size: 14px;
  background-color: white;
  padding: 20px;
  font-weight: 600;
  border-bottom-right-radius: 20px;
  left: 0;
  top: 0;
}
.profile__icon {
  margin-right: 5px;
}
.profile__photo {
  background-color: #efaeff;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 8px solid #8184d3;
  outline: 8px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile__photo img {
  width: 300px;
  height: auto;
  border-radius: 100%;
  bottom: -20px;
  position: absolute;
}

.profile__desc {
  padding-left: 30px;
  font-size: 40px;
  line-height: normal;
  padding-bottom: 30px;
}

.profile__fullname {
  font-weight: 600;
  max-width: 100px;
}
.profile__email {
  font-size: 16px;

  padding-bottom: 8px;
  border-bottom: 2px dotted white;
}
