.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px;
  height: 100vh;
  background-color: #f4f5f6;
  border-radius: 20px;
}
.projects__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;
}
.projects__fulltittle {
  font-weight: 600;
}

.projects__boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  gap: 60px;
}
.project__image {
  width: 400px;
  padding-right: 15px;
  border-radius: 20px;
}
