.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  background-color: #f4f5f6;
  border-radius: 20px;
}

.projects__intro {
  margin-bottom: 20px;
  text-align: center;
}

.projects__title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 25px;
}

.projects__subtitle {
  font-weight: 400;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.projects__decoration {
  width: 150px;
  height: 2px;
  border: 1px solid var(--brand);
  margin: auto;
}

.projects__boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}
.project__image {
  border-radius: 20px;

  object-fit: cover;
  object-position: top;
  width: 900px;
  transition: transform 1s ease;
  transform-origin: center;
}

.project__image:hover {
  transform: scale(1.1);
}
.project__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
.project__text {
  color: var(--secondtextcolor);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5;
  max-width: 400px;
  text-align: start;
}
.project__link {
  display: inline-block;
  margin-top: 10px;
  color: var(--brand);
  font-weight: 600;
}
.project__link:hover {
  color: black;
}
