.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  background-color: #f4f5f6;
}

.projects__boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 150px;
}
.project__image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: top;
  width: 400px;
  height: auto;
  transition: transform 1s ease;
  transform-origin: center;
  margin-bottom: 30px;
}

.projects__button {
  background-color: #f11158;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
}

.projects__button svg {
  margin-left: 10px;
}
